.card {    
    background-color: #ebebeb;
    border: 1px solid lightgray;
    padding: 20px 40px 30px 40px;
    margin: 5px;
    display: inline-block;
}

.card-title {
    font-size: 32px;
    font-weight: bold;
}

.card-summary {
    font-size: 12px;
    font-weight: normal;
}

.card-container {
 text-align: center;
 padding-top: 50px;
}